
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --naranjo: #DA9118;
    --verde: #A1BF37;
    --gris: #222;
    --gris2: #333132;
}
*::selection
{
    background-color: var(--verde);
    color: var(--gris);
}
#wide-img
{
    display: none;
    visibility: collapse;
    opacity: 0;
}

#mobile-img
{
    display: block ;
    visibility: visible;
    opacity: 1;
    width: 100%;
    max-width: 220px;

}
header
{
    min-height: 20vh;
    max-height: 20vh;
    background: var(--gris2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#marca
{
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 10px;
    color: #fff7;
    font-weight: bolder;
}

div#control{
    position: absolute;
    z-index: 0;
    color: #000;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    text-align: justify;

}
main
{
    position: absolute;
    z-index: 100;
    top: 21vh;
    left: 1%;
    min-width: 98%;
    max-width: 98%;
    min-height: 70vh;
    max-height: 70vh;
    padding: 0 20px;
    overflow-y: scroll;
    border-radius: 5px;
    border-left: var(--verde) 8px dashed ;
    border-right: var(--naranjo) 8px dashed ;
    background: linear-gradient(to bottom, #fffd 90%, transparent 99%);

}

.cuadroSec>div
{
    margin: 0 auto;
    height: fit-content;
    font-size: 14px;
}
.cuadroSec>div h5
{
    margin: 50px 0 10px;
    font-size: 1.2em;
}
.cuadroSec>div h5:first-child
{
    margin: 15px 0 10px;
}
.cuadroSec div p#certificacion
{
    margin-bottom: 100px;
}

.cuadroSec>div ul
{
    padding: 0 0 0 15px;
}
.cuadroSec>div ul li p:first-child
{
    color: var(--naranjo);
    font-weight: bolder;
    margin-top: 40px;
}

footer
{
    position: absolute;
    z-index: 200;
    width: 100%;
    min-height: 5vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    bottom: 0;
    text-align: center;
    font-weight: bolder;
    color: var(--verde);
    background: #000;
    font-size: 10px;
    font-weight: lighter;
}

footer ul
{
    list-style: none;
    flex-grow: 1;
    text-align: center;
    padding: 1px 0 1px 5px;
}
footer ul li
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 1.5em;
}
footer ul li a
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

footer ul svg
{
   width: 10px;
   height: 10px;
   margin-right: 5px;

}

#redSocial1 a, #redSocial2 a
{
    text-decoration: none;
    color: var(--naranjo);
}
#redSocial1 a:visited, #redSocial2 a:visited
{
    color: var(--naranjo);
}
 #correo1, #correo2
 {
     font-size: 1.1em;
 }


/* ---------------responsive mobile first------------ */
@media (min-width: 340px) {

footer
{
    position: absolute;
    z-index: 200;
    width: 100%;
    min-height: 10vh;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
    bottom: 0;
    text-align: center;
    font-weight: bolder;
    color: var(--verde);
    background: #000;
    font-size: 10px;
    font-weight: bold;
}
footer ul
{
    list-style: none;
    flex-grow: 1;
    text-align: left;
    padding: 1px 0 1px 5px;
}
footer ul li
{
    height: 1.5em;
}
footer ul svg
{
    width: 20px;
}

}

@media (min-width: 420px) {
    footer ul
    {
        list-style: none;
        flex-grow: 1;
        text-align: left;
        padding: 1px 0 1px 30px;
    }
}
@media (min-width: 850px) {


    #wide-img
    {
        display: block;
        visibility: visible;
        opacity: 1;
        height: 15vh;  
    }
    
    #mobile-img
    {
        display: none ;
        visibility:collapse;
        opacity: 0;
    }
 
    div#control
    {
        background: url(Files/fondo2.jpg) no-repeat center center;
        background-size: cover;
    }
    header
    {
        min-height: 15vh;
        max-height: 15vh;
        background: unset;
        
    }
  
    main
    {
        position: absolute;
        z-index: 100;
        top: 16vh;
        left: calc( 50% - 45vw );
        min-width: 70vw;
        max-width: 70vw;
        min-height: 70vh;
        max-height: 70vh;
        padding: 0 20px;
        overflow-y: scroll;
        border-radius: 10px;
        border-left: var(--verde) 10px dashed ;
        border-right: var(--naranjo) 10px dashed ;
        background: #fffe;
        font-size: 20px;
    }

    .cuadroSec>div
    {
        margin: 0 auto;
        height: fit-content;
        font-size: 18px;
    }
    .cuadroSec>div h5
    {
        margin: 50px 0 5px;
        font-size: 2em;
    }

    footer
    {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        background: #000;
        color: var(--verde);
        left: 0;
        min-width: 100%;
        max-width: 100%;
        height: 10vh;
        bottom: 0;
        padding: 5px 300px 10px;
    }

    footer
    {
        position: absolute;
        z-index: 200;
        width: 100%;
        min-height: 10vh;
        max-height: fit-content;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 10px;
        bottom: 0;
        text-align: center;
        font-weight: bolder;
        color: var(--verde);
        background: #000;
        font-size: 16px;
    }

    footer ul
    {
        list-style: none;
        max-width: 32%;
        flex-grow: 1;
        text-align: left;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        list-style: none;
        font-size: 1em;
    }
    footer ul li
    {
        width: 100%;
    }
}